<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="contenedor-titulo">
    <ion-title>Skeleton APP</ion-title>
    <ion-label class="titulo2">Aquí comienza todo</ion-label>  
    <ion-label class="titulo3">Bienvenidos</ion-label>
  </div>

  <form class="formulario-login" action="">
    
    <ion-item class="item-login">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item class="item-login">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" fill="outline">
      <ion-icon name="person-sharp"></ion-icon>
      Ingresar
    </ion-button>
  
  </form>

  <div class="crear-cuenta">
    <a href="lissuwu<3">Crea tu cuenta gratis!</a>
  </div>
  
  
</ion-content>
